Package: com.lindo.dockx
Name: DockX
Depends: mobilesubstrate, preferenceloader, firmware(>=14.0)
Version: 2.7.0
Architecture: iphoneos-arm
Description: Pasteboard shortcuts on your keyboard dock!
Maintainer: lindo
Author: lindo
Section: Tweaks
Conflicts: com.restiveconch.actionbar
Icon: https://udevsharold.github.io/repo/depictions/com.udevs.dockx/icon/icon.png
Depiction: https://udevsharold.github.io/repo/depictions/?p=com.udevs.dockx
